.signup {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;

  .container {
    display: inline-block;
    width: 50%;
    float: right;
    height: 100%;

    .inner {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      float: none;
      width: 100%;
      height: 100%;
      padding: 1em;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      overflow: auto;

      .form {
        width: 50%;
        margin: auto;
        display: inline-block;
        vertical-align: middle;

        p:first-child {
          color: #064559;
          font-size: 30px;
          font-weight: 400;
          line-height: 36px;
          letter-spacing: 1.5px;
          font-family: EngraversGothicBT;
        }

        p:nth-child(2) {
          color: #064559;
          font-size: 25px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 1px;
        }

        img {
          top: 4px;
          width: 17px;
          height: 17px;
        }

        .submit {
          margin: 0.5em 0;

          button {
            z-index: 999;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer !important;
            padding: 8px 12px !important;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .container {
      width: 100%;

      .inner {
        .form {
          width: 80%;

          p:first-child {
            display: block !important;
          }

          p:nth-child(2) {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}