.usermapping {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FAFAFA;

  .nsidemenu {
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    position: absolute;
    background-color: #251a3e;

    .link {
      color: #fff;
      width: 100%;
      display: grid;
      font-size: 18px;
      min-height: 40px;
      text-align: center;
      align-items: center;
      border-bottom: 1px solid #c7c2cf;

      span {
        cursor: pointer;
      }
    }
  }

  .mcontent {
    top: 0;
    left: 4%;
    width: 96%;
    position: absolute;
    background-color: #F5F5F5;

    .breadcrumb {
      width: 100%;
      height: 45px;
      line-height: 40px;
      display: inline-block;
      padding: 0 12px 0 20px;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

      nav > ol {
        background-color: transparent;

        span {
          font-size: 16px;
          letter-spacing: .7px;
          text-decoration: none;
        }
      }

      .title {
        width: 100%;
        vertical-align: top;
        display: inline-block;
      }
    }

    .content {
      left: 0;
      right: 0;
      bottom: 0;
      top: 50px;
      width: 100%;
      position: absolute;
      background-color: #FFFFFF;

      .sidebar {
        top: 0;
        left: 0;
        bottom: 0;
        width: 20%;
        float: left;
        height: 100%;
        padding: 0 20px;
        background-color: #fff;
        border-right: 1px solid #ccc;

        .title {
          color: #707070;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1.66666666666667;
        }

        @mixin common {
          background-color: rgba(9, 30, 66, .04);
        }

        .selected {
          @include common;
        }

        .item {
          display: block;
          font-size: 14px;
          font-weight: 600;
          padding: 7px 10px;
          cursor: pointer;
          word-wrap: break-word;
          line-height: 1.14285714285714;

          &:hover {
            @include common;
          }
        }
      }

      .row {
        top: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        float: right;
        min-height: 90%;
        overflow-y: auto;
        padding: 0px 15px;
        position: absolute;

        .disable {
          opacity: 0.5;
          pointer-events: none;
        }

        .add {
          padding: 0 10px;
          display: inline-block;

          button {
            top: -2px;
            width: 80px;

            &:hover {
              border: 1px solid;
              border-radius: 4px;
              background-color: transparent !important;
              color: #064559 !important;
            }
          }
        }

        .projects, .users {
          width: 30%;
          display: inline-block;

          label {
            font-size: 16px;
            font-weight: 600;
            padding-right: 10px;
          }
        }

        .cta {
          display: inline-block;

          button {
            padding: 4px 20px;
          }
        }

        .header {
          top: 10px;
          width: 100%;
          height: 40px;
          border-bottom: 2px solid #D6D6D6;

          .field {
            width: 25%;
            float: left;
            height: 100%;
            max-width: 50%;
            color: #9b9b9b;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.7px;
            text-transform: uppercase;
          }
        }

        .field_row {
          top: 10px;
          width: 100%;
          height: 50px;
          border-radius: 2px;
          border-bottom: 1px solid #D6D6D6;
          background-color: rgba(255, 255, 255, .75);

          .field {
            width: 25%;
            float: left;
            height: 100%;
            max-width: 50%;
            color: #064559;
            line-height: 50px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .highlight {
              color: #fff;
              border: #064559;
              font-size: 14px;
              background-color: #064559;
              text-transform: uppercase;
            }

            .close {
              top: 15px;
              z-index: 99;
              width: 20px;
              height: 20px;
              margin: auto;
              cursor: pointer;
              text-align: center;
              border-radius: 10px;
              vertical-align: middle;
              background-color: #babab9;

              img {
                top: 50%;
                left: 50%;
                width: 10px;
                position: absolute;
                text-transform: uppercase;
                transform: translate(-50%, -50%);
              }
            }

            span {
              z-index: 999;
              margin: 0 2px;
              font-size: 14px;
              cursor: pointer;
              padding: 1px 8px;
              border: 1px solid;
              border-radius: 4px;

              i:hover {
                transform: scale(1.3);
              }

              img {
                top: -2px;
                width: 20px;
                height: 20px;
                transition: all .1s ease-in;
              }
            }

            .approve {
              border: none;
              color: #FFFFFF;
              padding: 4px 8px;
              background-color: #55C8D4;
            }

            .disapprove {
              border: none;
              color: #FFFFFF;
              padding: 4px 8px;
              background-color: #808080;
            }
          }
        }

        .half {
          width: 50% !important;
        }

        .last {
          display: inline-flex !important;
          justify-content: center !important;
        }
      }
    }
  }
}