.upload {
  .modal-content {
    min-width: 600px;
    min-height: 372px;
  }

  .header {
    padding: 15px 25px;
    background-color: #F7F7F7;
    border-bottom: 1px dashed #9B9B9B;

    .title {
      color: #064559;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
      letter-spacing: 0.8px;
    }

    .close {
      z-index: 99;
      width: 20px;
      float: right;
      height: 20px;
      cursor: pointer;
      text-align: center;
      border-radius: 66px;
      vertical-align: middle;
      background-color: #babab9;

      img {
        top: 50%;
        left: 50%;
        width: 10px;
        position: absolute;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    padding: 0;
    width: 100%;
    background-color: #F7F7F7;
    border-bottom: 1px dashed #9B9B9B;

    .common {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: table;

      .uploads {
        display: flex;

        .meta {
          width: 100%;
          height: 100%;
          padding: 30px 20px;
          text-align: center;
          display: table-cell;

          .image {
            padding: 6px 0;
            min-height: 90px;

            img {
              height: 90px;
            }

            img[data-meta="false"] {
              transform: scale(1.3);
            }
          }

          .desc {
            p:first-child {
              color: #000000;
              font-size: 16px;
              font-weight: 600;
            }

            p:last-child {
              color: #707070;
              font-size: 14px;
              font-style: italic;

              span {
                text-transform: initial;
              }
            }
          }

          span[data-imp="back"]:after, span[data-imp="front"]:before {
            content: '*';
            color: red;
          }

          .input {
            @mixin common($fweight) {
              color: #707070;
              margin-top: 10px;
              font-weight: $fweight;
            }

            p[data-meta="true"] {
              @include common(400);
            }

            p[data-meta="false"] {
              @include common(600);
            }
          }
        }
      }

      @mixin heading {
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 36px;
        text-align: center;
        letter-spacing: 1.5px;
      }

      .u_progress {
        width: 100%;
        height: 100%;
        padding: 20px 40px;

        .image {
          padding-bottom: 20px;
          text-align: center;
          min-height: 70px;

          img {
            width: 70px;
          }
        }

        .desc {
          padding: 0 15px 15px;

          p:first-child {
            @include heading;
          }

          p:nth-child(2) {
            width: 80%;
            margin: auto;
            color: #707070;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;
            letter-spacing: 0.9px;
          }
        }

        .info {
          padding: 12px 40px;
          border-radius: 5px;
          background-color: #F4F4F4;

          .sec {
            width: 100%;
            display: table;
            padding-bottom: 10px;

            .fname {
              width: 50%;
              display: table-cell;

              p:first-child {
                color: #030303;
                font-size: 16px;
              }

              p:last-child {
                color: #707070;
                font-size: 14px;
              }
            }

            .uploadpercent {
              width: 50%;
              text-align: right;
              display: table-cell;

              .close {
                z-index: 99;
                width: 20px;
                float: right;
                height: 20px;
                cursor: pointer;
                margin-left: 10px;
                text-align: center;
                border-radius: 66px;
                vertical-align: middle;
                background-color: #babab9;

                img {
                  top: 50%;
                  left: 50%;
                  width: 10px;
                  position: absolute;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }

          .progressbar {
            height: 10px;

            div:first-child {
              height: 100%;
              background-color: #AAD356;
            }
          }

          p {
            text-align: left;
            margin-bottom: 2px;
            letter-spacing: 0.7px;
          }
        }
      }

      .validate {
        width: 100%;
        height: 100%;
        padding: 20px 40px;

        .image {
          padding-bottom: 30px;
          text-align: center;
          min-height: 80px;

          img {
            width: 80px;
          }
        }

        .desc {
          p:first-child {
            @include heading;
          }
        }

        .loader {
          text-align: center;
          img {
            height: 80px;
          }
        }
      }

      .failed {
        width: 100%;
        height: 100%;
        padding: 20px 40px;

        .image {
          padding-bottom: 10px;
          text-align: center;
          min-height: 70px;

          img {
            width: 70px;
          }
        }

        .desc {
          word-break: break-word;

          p:first-child {
            @include heading;
          }

          p:nth-child(2) {
            width: 80%;
            margin: auto;
            color: #707070;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;
            letter-spacing: 0.9px;
          }
        }

        div:last-child {
          width: 80%;
          margin: auto;
          padding: 20px 0;

          p {
            width: 100%;
            margin: auto;
            color: #9B9B9B;
            font-weight: 600;
            text-align: left;
            line-height: 17px;
            margin-bottom: 4px;
            letter-spacing: 0.7px;

            button {
              float: right;
              font-weight: 600;
            }
          }
        }
      }

      .error {
        width: 100%;
        height: 100%;
        padding: 20px 40px;

        .image {
          padding-bottom: 10px;
          text-align: center;
          min-height: 70px;

          img {
            width: 70px;
          }
        }

        .desc {
          width: 80%;
          margin: auto;
          text-align: center;
          word-break: break-word;

          p:first-child, strong {
            @include heading;
            line-height: 26px;
          }

          p:nth-child(2) {
            width: 80%;
            margin: auto;
            color: #707070;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;
            letter-spacing: 0.9px;

            span {
              padding: 4px;
              display: block;
              padding-left: 30px;
            }
          }

          p:last-child {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 12px;
          }
        }

        .info {
          width: 80%;
          margin: auto;
          padding: 12px;
          margin: 10px auto;
          border-radius: 6px;
          background-color: #F4F4F4;
        }

        .action {
          padding-top: 12px;
          text-align: center;

          button:first-child {
            color: #FFFFFF;
            font-weight: 600;
            margin-right: 7px;
            padding: 8px 26px;
            background-color: #babab9;
          }

          button:last-child {
            color: #FFFFFF;
            margin-left: 7px;
            font-weight: 600;
            padding: 8px 26px;
          }
        }
      }

      .success {
        width: 100%;
        height: 100%;
        padding: 20px 40px;

        .image {
          padding-bottom: 20px;
          text-align: center;
          min-height: 130px

          img {
            width: 130px;
          }
        }

        .desc {
          padding: 0 15px 15px;

          p:first-child {
            @include heading;
          }
        }
      }

      .selectfields {
        width: 100%;
        height: 100%;
        padding: 10px 40px;

        .image {
          padding-bottom: 10px;
          text-align: center;
          min-height: 70px;

          img {
            width: 70px;
          }
        }

        .desc {
          font-size: 18px;
          min-height: 150px;
          max-height: 250px;
          overflow-x: auto;
          word-break: break-word;

          label {
            display: table;
            cursor: pointer;
            margin-left: 0 !important;

            span {
              left: 6px;
            }
          }
        }

        div:last-child {
          width: 80%;
          margin: auto;
          padding: 20px 0;

          p {
            width: 100%;
            margin: auto;
            color: #9B9B9B;
            font-weight: 600;
            text-align: left;
            line-height: 17px;
            margin-bottom: 4px;
            letter-spacing: 0.7px;

            button {
              float: right;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
