.breadcrumb {
  width: auto;
  display: table;

  ol {
    padding: 2px 0;
    margin-bottom: 0;
    border-radius: 0;
    list-style: none;
    background-color: #FFFFFF;

    li {
      display: inline-block;

      span {
        padding: 3px;
        color: #064559;
        font-size: 18px;
        cursor: pointer;
        text-decoration: underline;
      }

      &:first-child {
        span {
          padding-left: 0;
        }
      }

      &:last-child {
        span {
          color: #4A4A4A;
          font-size: 16px;
          cursor: default;
          font-weight: 600;
          padding-right: 0;
          vertical-align: bottom;
          text-decoration: none;
        }
      }
    }
  }
}