.upload {
  .modal-content {
    min-width: 600px;
    min-height: 372px;
  }

  .header {
    padding: 15px 25px;
    background-color: #F7F7F7;
    border-bottom: 1px dashed #9B9B9B;

    .title {
      color: #064559;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
      letter-spacing: 0.8px;
    }

    .close {
      z-index: 99;
      width: 20px;
      float: right;
      height: 20px;
      cursor: pointer;
      text-align: center;
      border-radius: 66px;
      vertical-align: middle;
      background-color: #babab9;

      img {
        top: 50%;
        left: 50%;
        width: 10px;
        position: absolute;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;

    .common {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: table;
      background-color: #fff;

      .create {
        width: 100%;
        height: 100%;
        padding: 30px 40px;

        .desc {
          word-break: break-word;

          img {
            width: 70px;
            height: 70px;
          }

          p:first-child {
            font-size: 14px;
            font-weight: 400;
            /*margin-bottom: 0;*/
            text-align: center;
          }

        }

        button {
          width: 100px;
        }

        button:first-child {
          margin-right: 4px;
          background-color: #babab9 !important;
        }

        button:last-child {
          margin-left: 4px;
        }

        div {
          width: 92%;
          margin: auto;
          margin: 0 4%;
          text-align: center;
          padding: 10px 2px 6px;
        }
      }
    }
  }
}
