.taxonomy {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FAFAFA;

  .nsidemenu {
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    position: absolute;
    background-color: #251a3e;

    .link {
      color: #fff;
      width: 100%;
      display: grid;
      font-size: 18px;
      min-height: 40px;
      text-align: center;
      align-items: center;
      border-bottom: 1px solid #c7c2cf;

      span {
        cursor: pointer;
      }
    }
  }

  .nmain {
    top: 0;
    left: 4%;
    width: 96%;
    height: 100%;
    position: absolute;
    background-color: #F5F5F5;

    .breadcrumb {
      width: 100%;
      height: 40px;
      line-height: 35px;
      display: inline-block;
      padding: 0 12px 0 20px;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

      nav > ol {
        background-color: transparent;

        span {
          font-size: 14px;
          letter-spacing: .7px;
          text-decoration: none;
        }
      }

      .title {
        width: 65%;
        vertical-align: top;
        display: inline-block;
      }

      .actions {
        width: 35%;
        height: 100%;
        vertical-align: top;
        display: inline-block;

        @mixin highlight {
          border: none;
          color: #FFFFFF;
          background-color: #55C8D4;
          transition: background-color 0.7s ease-in-out;
          -webkit-transition: background-color 0.7s ease-in-out;
        }

        .rhs {
          top: 3px;
          right: 0;
          width: 50%;
          height: 30px;
          color: #064559;
          line-height: 27px;
          border-radius: 4px;
          position: absolute;
          vertical-align: top;
          display: inline-block;
          border: 1px solid #064559;

          .progress {
            top: 0;
            border: 0;
            height: 100%;
            z-index: 9999;
            outline: none;
            display: block;
            position: absolute;
            background: rgba(6, 69, 89, 0.6);
          }

          @mixin common($width, $border) {
            width: $width;
            height: 100%;
            cursor: pointer;
            font-size: 18px;
            text-align: center;
            vertical-align: top;
            display: inline-block;
            border-right: $border solid;
          }

          .selected {
            @include highlight;
          }

          .graph, .upload {
            @include common(33%, 1px);

            &:hover {
              @include highlight;
            }
          }

          .download {
            @include common(34%, 0px);

            &:hover {
              @include highlight;
            }
          }
        }
      }
    }

    .main {
      left: 0;
      right: 0;
      bottom: 0;
      top: 50px;
      position: absolute;

      .nside {
        top: 0;
        left: 0;
        bottom: 0;
        width: 30%;
        position: absolute;
        padding: 0 10px 0 20px;

        .title {
          height: 30px;
          color: #064559;
          font-size: 18px;
          font-weight: 400;
          overflow: hidden;
          letter-spacing: 1px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .tabs {
          width: 100%;
          height: 40px;

          @mixin common($wid) {
            width: $wid;
            height: 100%;
            padding: 6px 0;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            display: inline-block;
            background-color: transparent;
          }

          .tab1 {
            @include common(34%);
          }

          .tab2, .tab3 {
            @include common(33%);
          }

          .selected {
            background-color: #FFFFFF;
          }
        }

        .list {
          left: 0;
          top: 68px;
          bottom: 0;
          width: 92%;
          overflow-y: auto;
          position: absolute;
          white-space: nowrap;
          padding-bottom: 4px;
          margin: 0 10px 0 20px;
          background-color: #FFFFFF;

          .hglt {
            color: white;
            border-radius: 4px;
            padding-right: 6px;
            background-color: #b2b2b2;
          }

          .horscr {
            overflow-x: auto;
          }

          .search {
            width: 91%;
            padding: 0 4px;
            display: inline-block;

            div {
              margin: 0;
              margin-right: 2px;
            }

            input {
              border: 0;
              width: 100%;
              height: 20px;
              outline: none;
              color: #4A4A4A;
              font-size: 14px;
              font-weight: 300;
              line-height: 19px;
              border-radius: .15em;
              letter-spacing: 0.8px;
              height: 30px !important;
            }

            .icon {
              top: 8px;
              right: 10px;
              position: absolute;
            }

            .advance {
              top: 7px;
              bottom: 0;
              z-index: 99;
              color: #4a4a4a;
              cursor: pointer;
              position: absolute;
            }
          }

          ul {
            color: #00465B;

            li {
              display: block;
              cursor: pointer;
              text-align: left;
              padding: 7px 0 0 10px;

              span:first-child {
                float: left;
              }

              .text {
                left: 8px;
                width: 90%;
                height: 35px;
                line-height: 30px;
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;
                border: 1px solid #CCCCCC;
                border-left: 3px solid #CCCCCC;
              }

              .poly {
                -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
                -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
                -o-transform: matrix(-1, 0, 0, 1, 0, 0);
                transform: matrix(-1, 0, 0, 1, 0, 0);
              }
            }
          }

          .sublist {
            font-size: 14px;
          }
        }
      }

      .ndetail {
        top: 0;
        right: 0;
        left: 30%;
        bottom: 0;
        width: 70%;
        position: absolute;

        .content {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow-y: auto;
          position: absolute;
          background-color: transparent;

          .custom_row {
            height: 100%;
            padding: 0 6px;
            margin-left: 0px !important;
            margin-right: 0px !important;

            .summary {
              width: 60%;

              .title {
                padding: 4px 0;
                font-size: 18px;
                font-weight: 600;

                .toggle {
                  float: right;
                  padding: 0 7px;
                  color: #FFFFFF;
                  cursor: pointer;
                  background-color: #251a3e;

                  .vert {
                    top: 72px;
                    left: -47px;
                    width: 120px;
                    position: absolute;
                    transform: rotate(90deg);
                    background-color: #251a3e;
                  }
                }
              }

              .form {
                padding: 12px;
                border-radius: 4px;
                background-color: #FFFFFF;

                .field {
                  width: 98%;
                  display: inline-flex;

                  .label {
                    width: 40%;
                    padding: 0 4px;
                    font-size: 16px;
                    line-height: 40px;
                  }

                  .elabel {
                    margin: 0;
                    width: 38%;
                    margin-right: 2%;

                    input {
                      width: 98%;
                    }
                  }

                  .value {
                    margin: 0;
                    width: 60%;
                  }

                  .evalue {
                    margin: 0;
                    width: 58%;
                  }

                  input {
                    height: 28px !important;
                  }

                  .add {
                    cursor: pointer;
                    padding: 4px 8px;
                    border-radius: 4px;
                    border: 1px solid #CCCCCC;
                    background-color: #FFFFFF;
                  }

                  .remove {
                    width: 2%;

                    i {
                      top: 50%;
                      left: 50%;
                      cursor: pointer;
                      position: absolute;
                      transform: translate(0%, -50%);
                    }
                  }

                  .readOnly {
                    pointer-events: none;
                  }
                }
              }

              .actions {
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                background-color: #FFFFFF;

                .each {
                  width: 33%;
                  padding: 0 6px;
                  display: inline-block;

                  button {
                    padding: 4px;
                  }
                }

                .disabled {
                  opacity: 0.5;
                  pointer-events: none;
                }
              }
            }
          }

          .graph {
            width: 40%;
            float: right;
            height: 100%;
            background-color: #FFFFFF;
            border: 1px dotted #B9B9B9;
          }
        }
      }
    }
  }
}