.header {
  height: 60px;

  .container {
    height: 100%;
    padding: 5px 20px;
    background-color: #251a3e;

    .logo {
      float: left;
      height: 50px;
      cursor: pointer;

      img {
        height: 60%;
        margin: 10px;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .rhs {
      width: 50%;
      right: 10px;
      float: right;
      text-align: right;
      position: absolute;

      .products {
        top: -13px;
        right: 30px;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        display: inline-block;

        i {
          position: absolute;
        }

        i:nth-child(2) {
          top: -5px;
        }

        i:nth-child(3) {
          top: 5px;
        }
      }

      .notify {
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        display: inline-block;

        .icon {
          outline: none;
        }

        p {
          margin-bottom: 0;
        }

        sup {
          top: -6px;
          left: -8px;
          font-size: 10px;
          border-radius: 25px;
          padding: 2px 8px 2px;
          background-color: #808080;
        }

        .notifications {
          right: 0;
          top: 25px;
          color: black;
          z-index: 9999;
          width: 400px;
          display: block;
          font-size: 14px;
          cursor: default;
          text-align: left;
          overflow-y: auto;
          max-height: 250px;
          position: absolute;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #FFFFFF;
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

          .title {
            color: #fff;
            padding: 10px;
            font-size: 16px;
            font-weight: 600;
            background-color: #55c8d4;
          }

          .field {
            width: 100%;
            padding: 8px;
            overflow: hidden;
            /*white-space: nowrap;*/
            display: inline-block;
            /*text-overflow: ellipsis;*/
            border-bottom: 1px solid #ccc;

            &:hover {
              cursor: pointer;
            }

            &:last-child {
              border-bottom: none;
            }
          }

          .link {
            color: #55c8d4;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0px;
            text-align: center;
          }
        }

        div.notifications::before {
          width: 0;
          height: 0;
          border-bottom: 5px solid black;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }

      .profile {
        width: 17%;
        color: white;
        height: 100%;
        cursor: pointer;
        list-style: none;
        text-align: center;
        padding: 10px 0 10px;
        display: inline-block;

        section {
          outline: none;
        }

        .cname {
          display: flex;
        }

        ul > li {
          .name {
            padding: 8px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: transparent;
          }

          .down {
            width: 0;
            height: 0;
            top: 20px;
            padding: 0px;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
            background: transparent;
            border-top: 6px solid #fff;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
          }

          .dropdown {
            right: 0;
            top: 100%;
            left: auto;
            float: left;
            z-index: 1000;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            min-width: 160px;
            list-style: none;
            text-align: left;
            position: absolute;
            border-radius: 4px;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

            li {
              clear: both;
              padding: 8px;
              color: #064559;
              font-size: 16px;
              font-weight: 400;
              white-space: nowrap;
              line-height: 1.42857;
              background: transparent;

              &:hover {
                background-color: #F3F3F3;
                box-shadow: inset 4px 0px 0px 0px #07C8D4;
              }
            }
          }
        }
      }
    }
  }
}
