.list {
  z-index: 1;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  background-color: white;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 2px;
  max-height: 500px;
  overflow-y: auto;

  .item {
    margin: 4px 0;
    color: #4A4A4A;
    font-size: 14px;
    cursor: pointer;
    padding: 4px 14px;

    &:hover {
      background-color: #FAFAFA;
    }

    span {
      color: #80868b;
    }
  }
}
