.projects {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FAFAFA;

  .nsidemenu {
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    position: absolute;
    background-color: #251a3e;

    .link {
      color: #fff;
      width: 100%;
      display: grid;
      font-size: 18px;
      min-height: 40px;
      text-align: center;
      align-items: center;
      border-bottom: 1px solid #c7c2cf;

      span {
        cursor: pointer;
      }
    }
  }

  .mcontent {
    top: 0;
    left: 4%;
    width: 96%;
    position: absolute;
    background-color: #F5F5F5;

    .breadcrumb {
      width: 100%;
      height: 45px;
      line-height: 40px;
      display: inline-block;
      padding: 0 12px 0 20px;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

      nav > ol {
        background-color: transparent;

        span {
          font-size: 18px;
          letter-spacing: .7px;
          text-decoration: none;
        }
      }

      .title {
        width: 93%;
        vertical-align: top;
        display: inline-block;
      }

      .actions {
        width: 7%;
        vertical-align: bottom;
        display: inline-block;

        @mixin glow {
          border: none;
          color: #FFFFFF;
          background-color: #55C8D4;
          transition: background-color 0.7s ease-in-out;
          -webkit-transition: background-color 0.7s ease-in-out;
        }

        .rhs {
          top: 3px;
          width: 100%;
          height: 30px;
          color: #064559;
          line-height: 30px;
          vertical-align: top;
          display: inline-block;

          .add {
            width: 100%;
            height: 100%;
            cursor: pointer;
            font-size: 18px;
            text-align: center;
            border-radius: 4px;
            vertical-align: top;
            display: inline-block;
            border: 1px solid #064559;

            &:hover {
              @include glow;
            }
          }
        }
      }
    }

    .content {
      left: 0;
      right: 0;
      bottom: 0;
      top: 50px;
      width: 100%;
      overflow-y: auto;
      padding: 15px 30px;
      position: absolute;
      background-color: #FAFAFA;

      .row {
        min-height: 90%;
        padding: 0px 15px;

        .header {
          width: 100%;
          height: 35px;
          border-bottom: 1px solid #D6D6D6;

          .field {
            width: 20%;
            float: left;
            height: 100%;
            max-width: 25%;
            color: #9b9b9b;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.7px;
            text-transform: uppercase;

            span {
              padding-right: 6px;
            }
          }
        }

        .field_row {
          width: 100%;
          height: 60px;
          border-radius: 2px;
          border-bottom: 1px solid #D6D6D6;
          background-color: rgba(255, 255, 255, .75);

          .field {
            width: 20%;
            float: left;
            height: 100%;
            max-width: 25%;
            color: #064559;
            line-height: 60px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            span {
              z-index: 999;
              padding: 0 8px;
              cursor: pointer;

              i:hover {
                transform: scale(1.3);
              }

              img {
                top: -2px;
                width: 20px;
                height: 20px;
                transition: all .1s ease-in;
              }
            }
          }

          &:hover {
            border: none;
            cursor: pointer;
            border-radius: unset;
            /* background-color: #FAFAFA; */
            background-color: rgba(255, 255, 255, 1);
            box-shadow: -4px 0px 0px 0px #ffffff, 0 5px 7px 0 rgba(0, 0, 0, 0.09000000357627869);
            z-index: 1;
            transition: all .3s ease-in;

            &::before {
              content: '-';
              left: -7px;
              height: 100%;
              color: #ffffff;
              position: absolute;
              background-color: #ffffff;
              box-shadow: -4px 0px 0px 0px #07C8D4;
            }
          }
        }
      }

      .empty {
        top: 50%;
        left: 50%;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (max-width: 1270px) {
  .projects {
    overflow: auto;
    position: absolute;
  }
}