html,
body,
#taxonomy_app {
  width: 100%;
  height: 100%;
  background: #fafafa;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif, 'Arial' !important;
}

body {
  color: #333333;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  position: relative;
  text-align: inherit;
  line-height: inherit;
  box-sizing: border-box;
  letter-spacing: inherit;
  background-color: transparent;
}

section {
  height: 100%;
}

ul li {
  list-style: none;
}

a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

p {
  margin: 0 0 10px;
}

button:focus, input[type="checkbox"]:focus {
  outline: 0 !important;
}

.al-l-m {
  float: none;
  text-align: left;
  vertical-align: middle;
}

.al-mw::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  margin-left: -5px;
  vertical-align: middle;
}

.al-c-m {
  float: none;
  text-align: center;
  vertical-align: middle;
}

.pad-v-2-4 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.pad-v-1-4 {
  padding-top: .25em;
  padding-bottom: .25em;
}

.pad-h-8-4 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.pad-v-4-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.pad-v-6-4 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

[class*='grid-col-'] {
  float: left;
  display: inline-block;
}

.grid-row-8 {
  height: 80%;
}

.grid-row-1 {
  height: 10%;
}

.grid-col-3 {
  width: 18.75%;
}

.grid-col-8 {
  width: 50%;
}

.grid-row-10 {
  height: 100%;
}

.grid-col-11 {
  width: 68.75%;
}

.grid-col-15 {
  width: 93.75%;
}

.grid-col-16 {
  width: 100%;
}

.wid-25 {
  width: 25%;
}

.pad-4-4 {
  padding: 1em;
}

.link {
  color: #34196e;
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

.font-small {
  line-height: 120%;
  font-size: .875em
}

.font-medium {
  line-height: 120%;
  font-size: 1em;
}

.font-large {
  line-height: 120%;
  font-size: 1.25em;
}

.font-xlarge {
  line-height: 120%;
  font-size: 1.5em;
}

.font-xxlarge {
  line-height: 120%;
  font-size: 1.875em;
}

.font-huge {
  line-height: 120%;
  font-size: 2.25em;
}

.font-xhuge {
  line-height: 120%;
  font-size: 3em;
}

.font-xxhuge {
  line-height: 100%;
  font-size: 5em;
}

.font-xxxhuge {
  line-height: 80%;
  font-size: 6em;
}

.theme-color {
  color: #064559;
}

.color-grey {
  color: lightgrey;
}

.txt-10 {
  font-size: 10px;
}

.txt-12 {
  font-size: 12px;
}

.txt-14 {
  font-size: 14px;
}

.txt-16 {
  font-size: 16px;
}

.txt-18 {
  font-size: 18px;
}

.txt-20 {
  font-size: 20px;
}

.txt-24 {
  font-size: 24px;
}

.txt-28 {
  font-size: 28px;
}

.txt-30 {
  font-size: 30px;
}

.txt-34 {
  font-size: 34px;
}

.txt-38 {
  font-size: 38px;
}

.txt-40 {
  font-size: 40px;
}

.txt-42 {
  font-size: 42px;
}

.txt-44 {
  font-size: 48px;
}

.txt-48 {
  font-size: 48px;
}

.txt-68 {
  font-size: 68px;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.mrgn-top-0 {
  margin-top: 0 !important;
}

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.space-10 {
  height: 10px;
}

.space-20 {
  height: 20px;
}

.space-40 {
  height: 40px;
}

.space-60 {
  height: 40px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px
}

.lh-26 {
  line-height: 26px
}

.lh-28 {
  line-height: 28px
}

.lh-30 {
  line-height: 30px
}

.lh-32 {
  line-height: 32px;
}

.italic {
  font-style: italic;
}

.normal-style {
  font-style: normal;
}

.table-container {
  display: table;
}

.display-flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.table-item {
  display: table-cell;
}

.float-none {
  float: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.cur-pointer {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}

.padding-0 {
  padding: 0;
}

.pad-5 {
  padding: 5px;
}

.pad-10 {
  padding: 10px;
}

.p-l-r-10 {
  padding: 0 10px !important;
}

/*--CSS for input field--*/
.text-box,
.pass-box {
  float: none;
  display: inline-block;
  margin: .5em 0;
  color: #B9B9B9;
}

.text-box div,
.pass-box div {
  display: inline-block;
  margin: .25em 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.text-box div::after,
.pass-box div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - (1px * 2));
  height: calc(100% - (1px * 2));
  border: 1px solid;
  border-radius: .2em;
  z-index: -1;
}

.text-box input,
.pass-box input {
  padding: .75em .75em;
  margin: 4px;
  width: calc(100% - (1px * 35));
  height: calc(100% - (1px * 2));
  font-size: inherit;
  /*color: #064559;*/
  border: 0;
  border-radius: .15em;
  outline: none;

  color: #4A4A4A;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.8px;
}

.text-box input:focus,
.pass-box input:focus {
  box-shadow: inset 0px 0px 0px 0px #7A7A7A;
}

.text-box, .pass-box {
  float: none;
  display: inline-block;
  margin: .5em 0;
  color: #B9B9B9;
}

.pass-box input {
  /*letter-spacing: .25em;*/
  color: #4A4A4A;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.8px;
  /*-webkit-text-security: disc !important;*/
}

.text-box label,
.pass-box label {
  display: inline-block;
  margin: .25em 0;
  color: #B9B9B9;
}

.text-box.active label,
.active.pass-box label {
  color: #FF7054;
}

.text-box textarea,
.pass-box textarea {
  padding: .75em .75em;
  margin: 1px;
  width: calc(100% - (1px * 2));
  height: calc(100% - (1px * 2));
  font-size: inherit;
  color: #064559;
  border: 0;
  border-radius: .15em;
  resize: none;
  outline: none;
}

.text-upper {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.btn {
  cursor: pointer;
  line-height: 1.5;
  font-weight: 400;
  padding: .5em 1em;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border: solid 1px transparent;
}

.btn-primary {
  color: #fff;
  background-color: #55C8D4;
}

.btn-primary {
  color: #fff !important;
  background-color: #55C8D4 !important;
}

.btn-banner-link {
  color: #4A4A4A !important;
  background-color: #FFFFFF !important;
  padding: 9px 22px;
}

.btn-gradient {
  color: #fff !important;
  background-image: linear-gradient(to right, #07C8D4, #1CA6D9) !important;
}

.btn-normal {
  color: #535353 !important;
  background-color: #FFFFFF !important;
  border: solid 1px #CCCCCC !important;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-26 {
  font-size: 26px;
}

.color-1 {
  color: #064559;
}

.color-2 {
  color: #4A4A4A;
}

.color-3 {
  color: #FF755A;
}

.color-4 {
  color: #9B9B9B;
}

.color-5 {
  color: #203254;
}

.color-6 {
  color: #FF7054;
}

.color-7 {
  color: #ffffff;
}

.color-8 {
  color: #07C8D4;
}

.color-9 {
  color: #251a3e;
}

.color-10 {
  color: #e26e6e;
}

.color-11 {
  color: #333333;
}

.font-wt-400 {
  font-weight: 400;
}

.font-wt-600 {
  font-weight: 600;
}

.font-wt-800 {
  font-weight: 800;
}

.font-cap {
  text-transform: capitalize;
}

.panel-heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid transparent;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.theme-color {
  color: #064559;
}

.font-bold {
  font-weight: 600;
}

.font-large {
  line-height: 120%;
  font-size: 1.25em;
}

.progress {
  margin-bottom: 0px;
  height: 4px;
  background-color: #e2e2e2;
}

.progress-bar {
  color: #babab9;
  background-color: #babab9;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.breadcrumb > li + li:before {
  top: 2px;
  padding: 0 5px;
  /*color: #9B9B9B;*/
  color: #808080;
  font-size: 24px;
  content: "\203A";
  line-height: 0px;
  position: relative;
}

/*--Slim scroll in pure CSS--*/
.slim-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFF;
}

.slim-scroll::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

.slim-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
}
/* overridden css */
.modal-content {
  width: 600px;
  height: 390px;
}

.scroll-down {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 0.8s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

.download.icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000;
  width: 13px;
  height: 6px;
  border-radius: 1px;
  border: solid 2px #064559;
  border-top: none;
}

.download.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -9px;
  width: 2px;
  height: 10px;
  background-color: #064559;
}

.download.icon:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -4px;
  width: 4px;
  height: 4px;
  border-top: solid 1px #064559;
  border-right: solid 1px #064559;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}


.upload.icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000;
  width: 13px;
  height: 6px;
  border-radius: 1px;
  border: solid 2px #064559;
  border-top: none;
}

.upload.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -9px;
  width: 2px;
  height: 10px;
  background-color: #064559;
}

.upload.icon:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -10px;
  width: 4px;
  height: 4px;
  border-top: solid 1px #064559;
  border-right: solid 1px #064559;
  -webkit-transform: rotate(314deg);
          transform: rotate(314deg);
}

@-webkit-keyframes throbber {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}

@keyframes throbber {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}

/* :not(:required) hides these rules from IE9 and below */
.throbber:not(:required) {
  -moz-animation: throbber 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber 2000ms 300ms infinite ease-out;
  animation: throbber 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.5em;
  height: 0.2em;
  margin: 0;
}
.throbber:not(:required):before, .throbber:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.5em;
  height: 0.2em;
  position: absolute;
  top: 0;
}
.throbber:not(:required):before {
  -moz-animation: throbber 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber 2000ms 150ms infinite ease-out;
  animation: throbber 2000ms 150ms infinite ease-out;
  left: -0.6em;
}
.throbber:not(:required):after {
  -moz-animation: throbber 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber 2000ms 450ms infinite ease-out;
  animation: throbber 2000ms 450ms infinite ease-out;
  right: -0.6em;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 0.5s;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-duration: 0.5s;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.tooltip {
  top: 0;
  border: 0px;
  color: #000;
  padding: 4px 2px;
  text-align: center;
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
  font-size: 12px sans-serif;
  background: lightsteelblue;
}
