.notifier {
  right: 30px;
  z-index: 9999;
  height: 60px;
  width: 400px;
  display: flex;
  position: fixed;
  padding: 0 10px;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  .img {
    height: 25px;
  }

  .content {
    left: 10px;
    display: flex;
    flex-direction: column
  }

  .text {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
  }
}

.success {
  color: #0F802D;
  background-color: rgb(225, 255, 241);
}

.error {
  color: #96111E;
  background-color: rgb(255, 225, 228);
}
