.root {
  .modal-content {
    min-width: 600px;
    min-height: 372px;
  }

  .header {
    padding: 15px 25px;
    background-color: #F7F7F7;
    border-bottom: 1px dashed #9B9B9B;

    .title {
      color: #064559;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
      letter-spacing: 0.8px;
    }

    .close {
      z-index: 99;
      width: 20px;
      float: right;
      height: 20px;
      cursor: pointer;
      text-align: center;
      border-radius: 66px;
      vertical-align: middle;
      background-color: #babab9;

      img {
        top: 50%;
        left: 50%;
        width: 10px;
        position: absolute;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;

    .common {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: table;

      .create {
        width: 100%;
        height: 100%;
        padding: 30px 40px;

        .desc {
          word-break: break-word;
        }

        div {
          width: 80%;
          margin: auto;
          margin: 0 10%;
          padding: 10px 2px 0;
          text-align: center;
        }
      }
    }
  }
}
