.banner {
  width: 50%;
  float: left;
  height: 100%;
  display: inline-block;

  .image {
    width: 100%;
    height: 100%;
    z-index: auto;
    position: absolute;
    display: inline-block;
    background: url('https://static-dev.vuetag.ai/assets/images/banner/banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 640px) {
  .banner {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .banner {
    .meta {
      .description {
        padding: 8em 14em;
      }
    }
  }
}