.pagination {
  right: 0;
  left: 0;
  /*bottom: 0;*/
  width: 99%;
  margin: auto;
  display: flex;
  padding: 10px 30px;
  position: absolute;
  background-color: #ffffff;

  .limit {
    width: 25%;
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;

    select {
      margin: 0 5px;
      cursor: pointer;
      padding: 2px 4px;
      border: 1px solid rgba(155, 155, 155, .3);

      option {
        padding: 2px 0;
        cursor: pointer;

        &:hover {
          background-color: #FAFAFA;
        }
      }
    }
  }

  .bar {
    width: 48%;
    z-index: 9;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;

    nav {
      display: flex;
    }

    ul {
      top: 2px;
      margin: auto;
      display: flex;
      padding-left: 0;
      font-weight: 600;
      list-style: none;
      margin-bottom: 0;
      border-radius: .25rem;

      .active {
        color: #ffffff;
        background-color: #29c8d4;
      }

      li {
        color: #000000;
        cursor: pointer;
        line-height: 1.25;
        display: list-item;
        position: relative;
        border-radius: 4px;
        padding: .5rem 1.75rem;
        background-color: #fff;
      }
    }
  }

  .message {
    width: 27%;
    float: right;
    text-align: right;
    line-height: 2.5em;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .limit {
    div:first-child {
      padding: 0 10px;
      width: 80px !important;
    }
  }
}