.upload {
  .modal-content {
    min-width: 600px;
    min-height: 372px;
  }

  .header {
    padding: 15px 25px;
    background-color: #F7F7F7;
    border-bottom: 1px dashed #9B9B9B;

    .title {
      color: #064559;
      font-size: 20px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 10px;
      letter-spacing: 0.8px;
    }

    .close {
      z-index: 99;
      width: 20px;
      float: right;
      height: 20px;
      cursor: pointer;
      text-align: center;
      border-radius: 66px;
      vertical-align: middle;
      background-color: #babab9;

      img {
        top: 50%;
        left: 50%;
        width: 10px;
        position: absolute;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;

    .common {
      z-index: 1;
      width: 100%;
      height: 100%;
      display: table;
      background-color: #fff;

      .create {
        width: 100%;
        height: 100%;
        overflow-x: auto;
        padding: 30px 15px;

        .row {
          display: flex;
          padding: 4px 2px;

          select {
            height: 25px;
            outline: none;
            background-color: #f7f7f7;
            border: 1px solid #ababab;
          }

          input {
            height: 25px;
            outline: none;
            font-size: 14px;
            padding: 0px 8px 0px;
            border: 1px solid #ababab;
          }

          .logical {
            padding-right: 4px;
          }

          .field, .operator, .value {
            padding: 0 4px;
          }

          .remove, .add {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
          }

          .add {
            left: 8px;
          }
        }

        .order {
          width: 100%;
          margin: auto;
          display: block;
          padding: 10px 0;
          text-align: center;

          input {
            width: 96%;
            margin: auto;
            height: 35px;
            outline: none;
            font-size: 14px;
            padding: 0 10px;
            border-radius: 2px;
            border: 1px solid #ababab;
          }
        }
      }

      .apply {
        text-align: center;
        padding: 2px 4px;

        button {
          padding: 6px 30px;
        }
      }
    }
  }
}
