.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  .home {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    .content {
      left: 0;
      right: 0;
      bottom: 0;
      top: 60px;
      width: 100%;
      overflow: hidden;
      position: absolute;

      .main_content {
        height: 100%;
        overflow: hidden;
        position: relative;
        background: #fafafa;

        .mcontent {
          top: 0;
          width: 100%;
          float: left;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}
